<div class="row">	
    <div class="col-xs-12" id="mensajes">
        <div class="alert alert-warning" role="alert"><strong>Atención:</strong> El uso de éste módulo es para casos
            excepcionales. Haga uso del mismo con responsabilidad.
        </div>
    </div>
</div>

<div class="row">
	<div class="col-md-9"></div>
	<div class="col-md-3">
		<label class="float-md-right control-label">
			<p><i>Campos requeridos(*)</i></p>
		</label>
	</div>
</div>

<form id="{{{FORM}}}" method='POST' action="" enctype="multipart/form-data">
	
    <br>
	<div class="row">
        <div class="col-md-4">
            <label class="control-label" for="ubicacion">Ubicación <span class="text-danger">*</span></label>
            <select id="ubicacion" name="ubicacion_id" class="form-control height">
                <option value="">- Seleccione una Ubicación -</option>
                {{{UBICACIONES}}}
                    <option value="{{{VALUE}}}" {{{SELECTED}}}>{{{TEXT}}}</option>
                {{{/UBICACIONES}}}
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="fecha" class="control-label">Fecha <span class="text-danger">*</span></label>
            <div class="input-group date fecha">
                <input type="text" class="form-control" id="fecha"
                    name="fecha" value="{{{fecha}}}" required>
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
        </div>

        <div class="form-group col-md-4">
			<label class="control-label" for="documento_visita">Documento<span class="text-danger">*</span></label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Buscar&hellip;" id="documento_visita" name="documento_visita"
					value="{{{DOCUMENTO_VISITA}}}" required>
				<span class="input-group-btn"> 
					<button type="button" id="btn-buscarvisita" onclick="buscarVisita()" class="btn btn-default" ><i
							class="fa fa-search"></i></button>
				</span>
			</div>
		</div>

        <div class="form-group col-md-4">
            <label class="control-label" for="nombre">Nombre <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="nombre" name="nombre" disabled>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label" for="apellido">Apellido <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="apellido" name="apellido" disabled>
        </div>
   
        <div class="form-group col-md-2">
            <label for="hora_ingreso" class="control-label">Hora de Ingreso <span class="text-danger">*</span></label>
            <div class="input-group date fecha">
                <input type="text" class="form-control" id="hora_ingreso"
                    name="hora_ingreso" value="" required>
                <label class="input-group-addon" for="hora_ingreso"><span class="fa fa-clock-o"></span></label>
            </div>
        </div>

        <div class="form-group col-md-2">
            <label for="hora_egreso" class="control-label">Hora de Egreso <span class="text-danger">*</span></label>
            <div class="input-group date fecha">
                <input type="text" class="form-control" id="hora_egreso"
                    name="hora_egreso" value="" required>
                <label class="input-group-addon" for="hora_egreso"><span class="fa fa-clock-o"></span></label>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label" for="credencial">Credencial N°<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="credencial" name="credencial" value="{{{CREDENCIAL}}}" required>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label" for="origen">Origen <small>(Empresa/Particular)</small><span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="origen" name="origen" value="{{{ORIGEN}}}" required>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label" for="destino">Destino de la Visita<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="destino" name="destino" value="{{{DESTINO}}}" required>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label" for="observaciones">Observaciones</label>
            <input type="text" class="form-control" id="observaciones" name="observaciones" value="{{{OBSERVACIONES}}}">
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 col-md-12">
            <h5>Autorizante</h5>
        </div>

        <div class="form-group col-md-4">
			<label class="control-label" for="documento_autorizante">Documento<span class="text-danger">*</span></label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Buscar&hellip;" id="documento_autorizante" name="documento_autorizante"
					value="{{{DOCUMENTO_AUTORIZANTE}}}" required>
				<span class="input-group-btn"> 
					<button type="button" id="btn-buscarempleado" onclick="buscarEmpleado()" class="btn btn-default" ><i
							class="fa fa-search"></i></button>
				</span>
			</div>
		</div>

        <div class="form-group col-md-4">
            <label class="control-label" for="nombre_apellido_autorizante">Nombre y Apellido del Autorizante</label>
            <input type="text" class="form-control" id="nombre_apellido_autorizante"  value="{{{NOMBRE_AUTORIZANTE}}}" disabled>
        </div>

		<div class="form-group col-md-4 text-right"><br>
			<button type="submit" class="btn btn-primary" data-placement="left" name="operacion" value="{{{OPERACION}}}"
				id='boton_titulo' title="Procesar">PROCESAR</button>
			<a href="{{{CANCELAR}}}" class="btn btn-default">CANCELAR</a>
		</div>
	</div>
</form>