    <div class="row">
        
        <div class="col-md-3" style="{{{REGISTRO_EMPLEADO}}}">
            <a href="{{{URL_BASE}}}/index.php/Registros/carga_individual">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        <i class="fa fa-list fa-fw fa-5x"></i>
                    </div>
                    <div class="panel-body text-center">
                        Carga Offline Para <strong> Empleados </strong>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3" style="{{{REGISTRO_CONTRATISTA}}}">
            <a href="{{{URL_BASE}}}/index.php/Registros/carga_individual_contratista">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        <i class="fa fa-list fa-fw fa-5x"></i>
                    </div>
                    <div class="panel-body text-center">
                        Carga Offline Para <strong> Contratistas </strong>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3" style="{{{REGISTRO_VISITA}}}">
            <a href="{{{URL_BASE}}}/index.php/Registros/carga_individual_visita">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        <i class="fa fa-list fa-fw fa-5x"></i>
                    </div>
                    <div class="panel-body text-center">
                        Carga Offline Para <strong> Visitas </strong>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3" style="{{{REGISTRO_SIN_CIERRE}}}">
            <a href="{{{URL_BASE}}}/index.php/Registros/accesos_sin_cierre">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        <i class="fa fa-list fa-fw fa-5x"></i>
                    </div>
                    <div class="panel-body text-center">
                        Registro de Accesos <strong> Sin Cierre </strong>
                    </div>
                </div>
            </a>
        </div>
    </div>
