<section id="principal">
    <article class="content_format">
        <div class="row">
            <div class="col-xs-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <h2 class="alert alert-danger"> <i class="fa fa-warning"></i>
                        Su mail se encuentra cargado en el sistema de forma duplicada. Por favor comuniquese con Dirección de 
                        Recursos Humanos para que actualicen sus datos correctamente.
                    </h2>
                        <br />
                </div>
            </div>
            </div>				
        </div>
    </article>
</section>